<div class="clients">
  <div class="container">
    <div class="row align-center">
      <div class="col-md-11 text-center d-flex flex-column clients-content mx-auto">
        <div class="typo-subtitle">Clienti</div>
        <div class="typo-large-normal">De peste 15 ani, PixelTime a ajutat brandurile de toate dimensiunile creând
          produse și <strong>aplicații digitale</strong>
          personalizate care <strong>adaugă valoare business-ului</strong> și îi fac pe clienți fericiți.
        </div>
        <img src="assets/clients.png" alt="" class="img-fluid mx-auto">
      </div>
    </div>
  </div>
</div>
