:host{

  @media (max-width: 768px) {
    display: none;
  }
  .clients {
    padding: 80px 0;
    background: var(--white);

    &-content {
      gap: 24px;

      strong {
        color: var(--primary-1);
      }
    }
  }
}
