<div class="services">
  <div class="container">
    <div class="row services-content d-flex">
      <div class="col d-flex flex-column flex-grow-1">
        <div class="typo-subtitle">
          Servicii
        </div>
        <div class="typo-normal-title">
          Bucurați-vă de gama noastră completă de servicii digitale, concepute pentru a vă transforma viziunile în
          realitate. Cu o echipă dedicată de profesioniști pasionați, vă oferim expertiză și creativitate pentru fiecare
          etapă a proiectului dvs
        </div>
        <div class="link color-link">See more excellent results</div>
      </div>
      <div class="col text-center">
        <img src="assets/videocall.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <ul class="typo-text-calltoaction">
        <li class="link" routerLinkActive="active" routerLink="/services/design">Design</li>
        <li class="link" routerLinkActive="active" routerLink="/services/branding">Branding</li>
        <li class="link" routerLinkActive="active" routerLink="/services/digital-marketing">Marketing Digital</li>
        <li class="link" routerLinkActive="active" routerLink="/services/technology">Tehnologie și securitate</li>
        <li class="link" routerLinkActive="active" routerLink="/services/support">Suport și Mentenanță</li>
      </ul>
    </div>
  </div>
</div>

<div class="services-list">
  <div class="container">
    <div class="row">
      <div class="col-md-6 services-list-item">
        <div>
          <img src="assets/map-optimization.png" alt="">
          <strong class="typo-large-bold">Optimizare Maps Search</strong>
          <span class="typo-normal-title">
            Asigurăm că afacerea dvs. locală este ușor de găsit pe hărțile online, atrăgând clienți locali și oferindu-le informațiile necesare despre locația dvs.
          </span>
        </div>
      </div>
      <div class="col-md-6 services-list-item">
        <div>
          <img src="assets/content-marketing.png" alt="">
          <strong class="typo-large-bold">Marketing de conținut</strong>
          <span class="typo-normal-title">
            Creăm și promovăm conținut de înaltă calitate care atrage și angajează publicul dvs., consolidându-vă autoritatea în domeniu și crescând loialitatea clienților.
          </span>
        </div>
      </div>
      <div class="col-md-6 services-list-item">
        <div>
          <img src="assets/digital-strategy.png" alt="">
          <strong class="typo-large-bold">Consultanță în strategii digitale</strong>
          <span class="typo-normal-title">
            Vă ghidăm în dezvoltarea și implementarea unor strategii digitale eficiente, ajutându-vă să vă atingeți obiectivele de afaceri și să vă dezvoltați prezența online.
          </span>
        </div>
      </div>
      <div class="col-md-6 services-list-item">
        <div>
          <img src="assets/web-reports.png" alt="">
          <strong class="typo-large-bold">Analize web și raportare</strong>
          <span class="typo-normal-title">
            Monitorizăm și analizăm datele pentru a intelege comportamentul utilizatorilor și a performanței, astfel încât să puteți lua decizii informate.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
