<div class="services">
  <div class="container">
    <div class="row services-content d-flex">
      <div class="col d-flex flex-column flex-grow-1">
        <div class="typo-subtitle">
          Servicii
        </div>
        <div class="typo-normal-title">
          Bucurați-vă de gama noastră completă de servicii digitale, concepute pentru a vă transforma viziunile în
          realitate. Cu o echipă dedicată de profesioniști pasionați, vă oferim expertiză și creativitate pentru fiecare
          etapă a proiectului dvs
        </div>
        <div class="link color-link">See more excellent results</div>
      </div>
      <div class="col text-center">
        <img src="assets/videocall.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <ul class="typo-text-calltoaction">
        <li class="link" routerLinkActive="active" routerLink="/services/design">Design</li>
        <li class="link" routerLinkActive="active" routerLink="/services/branding">Branding</li>
        <li class="link" routerLinkActive="active" routerLink="/services/digital-marketing">Marketing Digital</li>
        <li class="link" routerLinkActive="active" routerLink="/services/technology">Tehnologie și securitate</li>
        <li class="link" routerLinkActive="active" routerLink="/services/support">Suport și Mentenanță</li>
      </ul>
    </div>
  </div>
</div>

<div class="services-list">
  <div class="container">
    <div class="row">
      <div class="col-md-6 services-list-item">
        <div>
          <img src="assets/design-uix.png" alt="">
          <strong class="typo-large-bold">Servicii de hosting web</strong>
          <span class="typo-normal-title">
            Oferim servicii de găzduire web sigure și fiabile pentru a vă menține site-ul online și funcțional, asigurându-ne că acesta este accesibil clienților dvs. 24/7.
          </span>
        </div>
      </div>
      <div class="col-md-6 services-list-item">
        <div>
          <img src="assets/support.png" alt="">
          <strong class="typo-large-bold">Suport pentru utilizatori și clienți</strong>
          <span class="typo-normal-title">
            Oferim suport continuu pentru utilizatori și clienți, rezolvând problemele tehnice și asigurându-ne că au o experiență plăcută.
          </span>
        </div>
      </div>
      <div class="col-md-6 services-list-item">
        <div>
          <img src="assets/performance.png" alt="">
          <strong class="typo-large-bold">Monitorizare continuă a performanței</strong>
          <span class="typo-normal-title">
            Urmarim în permanență performanța site-ului sau a aplicațiilor, identificând problemele și îmbunătățind experiența utilizatorului.
          </span>
        </div>
      </div>
      <div class="col-md-6 services-list-item">
        <div>
          <img src="assets/updates.png" alt="">
          <strong class="typo-large-bold">Actualizări periodice de conținut</strong>
          <span class="typo-normal-title">
            Păstrăm site-ul dvs. proaspăt și actualizat, adăugând conținut nou și efectuând actualizări de software pentru a menține securitatea și funcționalitatea acestuia.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
