.services {
  padding: 40px 0 0;

  &-content {
    background: var(--white);
    padding: 24px;
    border-radius: 24px;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 20px;
      background: transparent;
    }

    .col {
      gap: 24px;
    }
  }

  ul {
    margin: 80px auto 0;
    display: flex;
    list-style: none;
    gap: 1px;
    width: fit-content;
    @media (max-width: 768px) {
      //display: none;
      flex-direction: column;
      width: 100%;
      margin-top: 24px;
    }

    li {
      background: var(--white);
      color: var(--black-04);
      padding: 16px 24px;

      &:hover, &.active {
        color: var(--primary-1);
      }
    }
  }
}

.services-list {
  padding: 40px 0 80px;
  background: var(--white);

  &-item {
    div {
      background: var(--white);
      border: 2px solid var(--black-07);
      display: flex;
      flex-direction: column;
      align-items: baseline;
      margin-bottom: 25px;
      border-radius: 24px;
      padding: 24px;
      gap: 24px;

      &:hover {
        border-color: var(--black-06);
      }

      span {
        color: var(--black-03);
      }
    }

  }
}
