<div class="container">
  <div class="row">
    <div class="col typo-subtitle">Informare privind prelucrarea datelor cu caracter personal</div>
  </div>

  <div class="row">
    <div class="col">
      <p class="typo-normal-title">Prezenta informare este in scopul de a va aduce la cunostinta aspectele cu privire la
        prelucrarea datelor dvs.
        personale si la drepturile dvs. privind aceasta procedura în conformitate cu Regulamentul general 2016/679
        privind
        protectia datelor ("GDPR") si legislatia nationala în vigoare.</p>
      <h3 class="typo-large-bold"><strong>1. Informatii generale</strong></h3>
      <p class="typo-normal-title">www.pixeltime este administrat de <u>SC PIXELTIME WEB SOLUTIONS SRL</u>
        cu sediul in judet Giurgiu, sat Campurelu, comuna Colibasi, Str. Nisiparul 35, inregistrata la
        Registrul Comertului sub nr. J52/759/2020, CUI 43103336, telefon 0750.44.11.00, e-mail office@pixeltime.ro .
        Potrivit Reg UE 679/2016, SC PIXELTIME WEB SOLUTIONS SRL este operator
        de
        date cu caracter personal.<br> <br> Date cu caracter personal” inseamna orice informatii privind o persoana
        fizica
        identificata sau identificabila („persoana vizata”); O persoana fizica identificabila este o persoana care poate
        fi
        identificata, direct sau indirect, in special prin referire la un element de identificare, cum ar fi un nume, un
        numar de identificare, date de localizare, un identificator online, sau la unul sau mai multe elemente
        specifice,
        proprii identitatii sale fizice, fiziologice, genetice, psihice, economice, culturale sau sociale. </p>
      <h3 class="typo-large-bold"><strong>2. Scopul prelucrarii</strong></h3>
      <p class="typo-normal-title">Societatea prelucreaza datele dvs. cu caracter personal in urmatoarele scopuri:</p>
      <ul>
        <li>furnizarea de informatii cu privire la oferte comerciale/servicii;\• pentru a face demersurile necesare in
          vederea incheierii unui contract;
        </li>
        <li>pentru a putea raspunde la intrebari si solicitari;\• pentru a ne apara impotriva atacurilor cibernetice;
        </li>
        <li>pentru activitati de marketing, insa numai in situatia in care am primit consimtamantul in prealabil;</li>
        <li>pentru a oferi si imbunatatii serviciile pe care le oferim;</li>
      </ul>
      <h3 class="typo-large-bold"><strong>3. Temeiul juridic al prelucrarii</strong></h3>
      <p class="typo-normal-title">In privinta datelor care ne sunt oferite in mod voluntar prin completarea si
        trimiterea formularelor sau prin
        contactarea noastra in orice mod, temeiul legal este „pentru a face demersuri la cererea persoanei vizate
        inainte de
        incheierea unui contract” (art. 6 alin. 1 lit. b din Regulamentul UE 679/2016).</p>
      <p class="typo-normal-title">Potrivit GDPR (aplicabil din 25 mai 2018), consimtamantul persoanei nu este cerut in
        situatia in care prelucrarea
        este necesara pentru efectuarea de demersuri pentru incheierea unui contract, indeplinirea unei obligatii legale
        sau
        interesul legitim.</p>
      <p class="typo-normal-title">In privinta datelor pe care le colectam automat prin folosirea cookie-urilor sau a
        altor tehnologii similare,
        temeiul pentru prelucrare este consimtamantul. Odata cu accesarea site-ului, utilizatorul isi da in mod valabil
        consimtamantul asupra prelucrarii.</p>
      <p>Prelucrarea datelor cu caracter personal în baza consimtamantului reprezinta un scop aditional prelucrarii
        datelor
        personale în vederea executarii contractului la care sunteti parte si nu conditioneaza furnizarea/prestarea
        serviciilor contractuale. </p>
      <h3 class="typo-large-bold"><strong>4. Categoriile de destinatari catre care se pot divulga datele personale
        colectate:</strong>
      </h3>
      <p class="typo-normal-title">Va asiguram ca nu vom dezvalui informatiile colectate catre terte parti, pentru a fi
        utilizate in propriile scopuri
        de marketing sau comerciale ale acestora. Avem obligatia sa dezvaluim aceste informatii catre urmatoarele
        entitati:</p>
      <ul>
        <li>
          <u>Furnizori de servicii.</u> Putem dezvalui informatiile altor companii care ne furnizeaza servicii si
          actioneaza in calitate de persoane imputernicite, cum ar fi companiile care ne ajuta pentru facturare sau care
          trimit e-mailuri in numele nostru. Aceste entitati sunt selectate cu o grija deosebita pentru a ne asigura ca
          indeplinesc cerintele specifice in materie de protectie a datelor cu caracter personal. Aceste entitati au o
          capacitate limitata de a utiliza informatiile furnizate de noi in alte scopuri decat cel de a ne furniza
          servicii;
        </li>
        <li>
          <u>Instante de judecata, parchete sau alte autoritati publice centrale si locale </u> pentru a ne conforma
          legii
          sau drept raspuns la un procedura legala obligatorie (hotarare judecatoreasca, etc);
        </li>
        <li>
          <u>Altor parti cu consimtamantul sau la instructiunile colectate</u> In afara situatiilor descrise in prezenta
          Politica de confidentialitate, este posibil sa transmitem informatiile tertilor carora utilizatorul consimte
          sau
          solicita sa intreprindem o astfel de actiune.
        </li>
      </ul>


      <h3 class="typo-large-bold"><strong>5. Durata pastrarii datelor personale si informatiilor sensibile</strong></h3>
      <p class="typo-normal-title">Datele dvs personale vor fi pastrate de societate pentru o perioada care nu depaseste
        perioada necesara pentru a
        atinge scopurile descrise mai sus si/sau pentru orice alta durata necesara în virtutea obligatiilor legale
        aplicabile. </p>
      <h3 class="typo-large-bold"><strong>6. Drepturile dumneavoastra</strong></h3>
      <p class="typo-normal-title">Regulamentul confera persoanelor carora li se prelucreaza date personale o serie de
        drepturi. Astfel:</p>
      <ul>
        <li>
          Dreptul de retragere a consimtamantului; In situatia in care prelucrarea se bazeaza pe consimtamant,
          utilizatorul isi retrage consimtamantul in orice moment si in mod gratuit prin transmiterea unui e-mail pe
          adresa indicata cu subiectul <u>„retragere consimtamant”</u>.
        </li>
        <li>
          Dreptul de a depune o plangere in fata unei autoritati de supraveghere;
        </li>
        <li>
          Dreptul de a se adresa justitiei;
        </li>
        <li>
          Dreptul de acces;
        </li>
      </ul>

      <p class="typo-normal-title"><br> Utilizatorul are dreptul de a obtine din partea noastra o confirmare ca se
        prelucreaza sau
        nu date cu caracter personal care il privesc si, in caz afirmativ, utilizatorul va avea dreptul de acces la
        datele
        respective.</p>
      <ul>
        <li>
          <u>Dreptul la rectificare;</u> Utilizatorul dreptul de a obtine de la noi,
          rectificarea/corectarea datelor cu
          caracter personal inexacte/eronate care il privesc,corectarea datelor cu character personal ce sunt
          incomplete.
        </li>
        <li>
          <u>Dreptul la stergerea datelor („dreptul de a fi uitat”).</u> In situatiile in care
          datele nu mai sunt necesare
          pentru indeplinirea scopurilor, s-a retras consimtamantul si nu exista un alt temei juridic pentru prelucrare,
          utilizatorul se opune prelucrarii si nu exista motive legitime care sa prevaleze in ceea ce priveste
          prelucrarea
          sau
          datele cu caracter personal au fost prelucrate ilegal, acesta dreptul de a obtine stergerea datelor care il
          privesc,
          fara intarzieri nejustificate.
        </li>
      </ul>

      <li><u>Dreptul la restrictionarea prelucrarii.</u> Ai dreptul de a obtine din partea
        noastra restrictionarea prelucrarii
        in urmatoarele situatii: <br>
        <ul>
          <li>(a) contesti exactitatea datelor, pentru o perioada care ne permite noua sa
            verificam
            exactitatea datelor;
          </li>
          <li>(b) prelucrarea este ilegala, iar tu te opui stergerii datelor cu caracter personal,
            solicitand in schimb restrictionarea utilizarii lor;
          </li>
          <li>(c) nu mai avem nevoie de datele cu caracter personal
            in
            scopul prelucrarii, dar tu ni le soliciti pentru constatarea, exercitarea sau apararea unui drept in
            instanta;
          </li>
          <li>(d) te-ai opus prelucrarii in conformitate cu articolul 21 alineatul (1) din GDPR, pentru intervalul de
            timp in
            care
            se verifica daca drepturile noastre legitime prevaleaza asupra drepturilor tale.
          </li>
        </ul>
      </li>
      <li><u>Dreptul la portabilitatea datelor.</u> Ai dreptul de a primi datele cu caracter
        personal care te privesc si pe
        care ni le-ai furnizat intr-un format structurat, utilizat in mod curent si care poate fi citit automat si ai
        dreptul de a transmite aceste date altui operator, fara obstacole din partea noastra, in cazul in care:<br>
        <ul>
          <li>a.
            prelucrarea se bazeaza pe consimtamant in temeiul articolului 6 alin 1 lit. a sau al art 9 alin 2 lit a din
            GDPR
            sau
            pe un contract in temeiul art 6 alin 1 lit b din GDPR;
          </li>
          <li>b. prelucrarea este efectuata prin mijloace automate.</li>
        </ul>
      </li>
      <li><u>Dreptul de portabilitate/transfer;</u> poti solicita operatorului sa iti transferer
        datele prelucrate unei terte
        personae
      </li>
      <h3 class="typo-large-bold"><strong>De retinut :</strong></h3>

      <p> Termenul de raspuns la solicitarea utilizatorului
        este de 30 zile. Acesta poate fi
        modificat in functie de existenta unor motive specifice sau de complexitatea cererii primite.<br> In functie de
        dispozitiile legale in vigoare, in anumite situatii ne putem afla in imposibilitatea de a oferi acces la
        totalitatea
        informatiilor solicitate de utilizator. In cazul in care ne vom confrunta cu aceasta situatie, solicitantul va
        fi
        informat despre refuz si motivele care au stat la baza acestuia </p>
      <p class="typo-normal-title">Pentru mai multe informatii privind drepturile de care bneficiezi poti consulta
        Regulamentul UE 679/2016, accesand
        <a href="https://www.dataprotection.ro/" title="www.dataprotection.ro" target="_blank"
           rel="noopener noreferrer nofollow">www.dataprotection.ro</a>
      </p>
    </div>
  </div>

</div>
