<div class="blog">
  <div class="container d-flex flex-column">
    <div class="row text-center">
      <div class="typo-subtitle">Ultimele articole din blog</div>
    </div>
    <div class="row">
      <pre>{{lastPageItems | json}}</pre>
      <div *ngFor="let post of lastPageItems" class="col-md-4">
        <div class="blog-item">
          <img *ngIf="post.fimg_url" src="{{post.fimg_url}}" alt="" class="img-fluid link" routerLink="/blog/{{post.id}}">
          <img *ngIf="!post.fimg_url" src="https://placehold.co/860x260/EEE/31343C" alt="">
          <div class="blog-item-content d-flex flex-column position-relative">
            <div class="tag vertical">
              <div class="tag-item" *ngFor="let t of post.tags">{{t}}</div>
            </div>
            <div class="large-title link" routerLink="/blog/{{post.id}}">{{post.title.rendered}}</div>
            <div class="typo-small-normal" [innerHTML]="post.excerpt.rendered">
            </div>
            <span routerLink="/blog/{{post.id}}" class="typo-text-calltoaction color-link link">citeste mai mult</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
