.blog {
  padding: 80px 0;

  .container {
    gap: 40px;
  }

  &-item {
    background: var(--white);
    border-radius: 20px;
    margin: 10px;


    img {
      border-radius: 20px 20px 0 0;
    }

    &-content {
      padding: 20px 40px;
      gap: 20px;
    }
  }
}
