<div class="services">
  <div class="container">
    <div class="row services-content d-flex">
      <div class="col d-flex flex-column flex-grow-1">
        <div class="typo-subtitle">
          Servicii
        </div>
        <div class="typo-normal-title">
          Bucurați-vă de gama noastră completă de servicii digitale, concepute pentru a vă transforma viziunile în
          realitate. Cu o echipă dedicată de profesioniști pasionați, vă oferim expertiză și creativitate pentru fiecare
          etapă a proiectului dvs
        </div>
        <div class="link color-link">See more excellent results</div>
      </div>
      <div class="col text-center">
        <img src="assets/videocall.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <ul class="typo-text-calltoaction">
        <li class="link" routerLinkActive="active" routerLink="/services/design">Design</li>
        <li class="link" routerLinkActive="active" routerLink="/services/branding">Branding</li>
        <li class="link" routerLinkActive="active" routerLink="/services/digital-marketing">Marketing Digital</li>
        <li class="link" routerLinkActive="active" routerLink="/services/technology">Tehnologie și securitate</li>
        <li class="link" routerLinkActive="active" routerLink="/services/support">Suport și Mentenanță</li>
      </ul>
    </div>
  </div>
</div>

<div class="services-list">
  <div class="container">
    <div class="row">
      <div class="col-md-6 services-list-item">
        <div>
          <img src="assets/design-uix.png" alt="">
          <strong class="typo-large-bold">Design UI/UX</strong>
          <span class="typo-normal-title">
            Transformăm conceptele în experiențe digitale de neuitat, aducând împreună designul de interfață (UI) și experiența utilizatorului (UX) pentru a crea produse care sunt atât atractive din punct de vedere vizual, cât și ușor de utilizat
          </span>
        </div>
      </div>
      <div class="col-md-6 services-list-item">
        <div>
          <img src="assets/custom-web.png" alt="">
          <strong class="typo-large-bold">Dezvoltare web personalizată</strong>
          <span class="typo-normal-title">
            Oferim soluții digitale la cheie, adaptate specific nevoilor și viziunilor dvs. Dezvoltăm site-uri web unice și aplicații web personalizate, folosind cele mai recente tehnologii pentru a vă ajuta să vă atingeți obiectivele online.
          </span>
        </div>
      </div>
      <div class="col-md-6 services-list-item">
        <div>
          <img src="assets/redesign-web.png" alt="">
          <strong class="typo-large-bold">Redesign web</strong>
          <span class="typo-normal-title">
            Dacă site-ul a devenit învechit sau nu mai reflectă identitatea de brand, suntem aici pentru a-l revigora. Realizăm redesign-uri care îmbunătățesc aspectul, funcționalitatea și cel mai important, performanța.
          </span>
        </div>
      </div>
      <div class="col-md-6 services-list-item">
        <div>
          <img src="assets/digital-product-design.png" alt="">
          <strong class="typo-large-bold">Digital Product Design</strong>
          <span class="typo-normal-title">
            Construim aplicații web puternice și personalizate care automatizează procesele, cresc eficiența și aduc valoare adăugată pentru afacerea dvs. Cu dezvoltare orientată către rezultate, vă ajutăm să vă atingeți obiectivele digitale.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
