.blog {
  padding: 80px 0;

  .container {
    gap: 40px;
  }

  &-item {
    background: var(--white);
    border-radius: 20px;
    margin: 10px;


    img {
      border-radius: 20px 20px 0 0;
      width: 100%;
    }

    &-content {
      padding: 20px 40px;
      gap: 20px;
    }
  }

  .large-title, .typo-small-normal {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;

  }

  .large-title {
    -webkit-line-clamp: 2;
    height: 64px;
  }

  .typo-small-normal {
    -webkit-line-clamp: 4;
  }

  .article {
    .large-title {
      margin-bottom: 24px;
    }

    .featured {
      border-radius: 20px;
      margin-bottom: 16px;
      width: 100%;
    }

    .tag {
      margin-bottom: 40px;
    }

    strong {
      color: var(--primary-1);
    }

  }
}
