<div class="container">
  <div class="row">
    <div class="col typo-subtitle">Termeni si conditii</div>
  </div>

  <div class="row">
    <div class="col">
      <p class="typo-normal-title">Acest document se refera la conditiile in care poate fi utilizat website-ul
        <u>https://pixeltime.ro/</u>.
        Accesand sau utilizand website-ul <u>https://pixeltime.ro/</u>,
        sunteti de acord cu termenii si conditiile de mai jos.
        Acest website este detinut si administrat de
        <u>SC PIXELTIME WEB SOLUTIONS SRL</u>
        cu sediul in judet Giurgiu, sat Campurelu, comuna Colibasi, Str. Nisiparul 35, inregistrata la
        Registrul Comertului sub nr. J52/759/2020, CUI 43103336, telefon 0750.44.11.00, e-mail office@pixeltime.ro
      </p>

      <h3 class="typo-large-bold"><strong>Introducere</strong></h3>

      <p class="typo-normal-title"> Folosirea serviciilor sau a informatiilor oferite pe site-ul
        <u>https://pixeltime.ro/</u>, este echivalenta cu acceptarea de catre utilizator a
        termenilor si a conditiilor de mai jos. Termenii si conditiile se pot modifica
        periodic, utilizatorul trebuind sa verifice actualizarile de fiecare data cand
        acceseaza acest site.
        Utilizatorul site-ului <u>https://pixeltime.ro/</u> are dreptul sa vizualizeze
        site-ul pe web browserul PC-ului, sa tipareasca parti ale continutului site-ului
        pe suport de hartie si sa salveze pagini in format electronic, doar in scopuri
        personale, non-comerciale.</p>


      <h3 class="typo-large-bold"><strong>Continut si drepturi de autor</strong></h3>
      <p class="typo-normal-title">Continutul si Designul site-ului apartin
        exclusiv proprietarului <u>https://pixeltime.ro/</u> si sunt protejate de
        legislatia privind proprietatea intelectuala.</p>
      <p class="typo-normal-title">Nu puteti reproduce materialele afisate pe site fara a detine o nota scrisa
        din partea SC PIXELTIME WEB SOLUTIONS SRL, printr-un contract care sa dea dreptul de
        a copia sau printa anumite paragrafe sau pagini ale site-ului.
        SC PIXELTIME WEB SOLUTIONS SRL nu isi asuma raspunderea pentru nici o dauna,
        pricinuita direct sau indirect, suferita ca urmare a utilizarii sau a
        intreruperii utilizarii. Nu garanteaza acuratetea, corectitudinea sau caracterul
        actual al informatiilor furnizate.</p>
      <h3 class="typo-large-bold"><strong>Modificari in termenii si conditiile de utilizare</strong></h3>
      <p class="typo-normal-title">SC PIXELTIME WEB SOLUTIONS SRL poate aduce modificari termenilor si conditiilor de
        utilizare, fara a anunta acest lucru anterior in continutul site-ului. Va rugam,
        deci, sa recititi termenii si conditiile de utilizare de fiecare data cand
        accesati sau utilizati acest site.
        Utilizarea site-ului de catre dumneavoastra, ulterior modificarii acestor
        termeni, constituie acceptarea de catre dumneavoastra a termenilor si
        conditiilor modificate. Aceste reguli sunt in conformitate cu legislatia romana
        in vigoare. Incalcarea prevederilor acestui document constituie o violare a SC PIXELTIME WEB SOLUTIONS SRL si
        poate atrage raspunderea civila, contraventionala sau,
        dupa caz, penala a persoanei in culpa.</p>
      <p class="typo-normal-title">Conflictele aparute in legatura cu termenii de utilizare ale site-ului vor fi
        supuse spre solutionare instantelor judecatoresti. Acest site poate contine
        link-uri catre diverse site-uri. Atunci cand accesati aceste site-uri, va aflati
        implicit in afara site-ului <u>https://pixeltime.ro</u> si aveti obligatia de a
        respecta termenii si conditiile de utilizare ale noilor site-uri accesate.</p>
      <h3 class="typo-large-bold"><strong>Cereri pentru oferte de pret</strong></h3>
      <p class="typo-normal-title">Cererile pentru oferta de preturi pot fi trimise utilizand formularul de
        contact de pe acest site, e-mail, telefon/fax, sau la sediul nostru.
        Utilizatorul are obligatia de a furniza date corecte si cat mai concrete cu
        privire la proiectul dorit.
        SC PIXELTIME WEB SOLUTIONS SRL nu poate fi tras la raspundere sub nici o forma pentru
        neplaceri cauzate de furnizarea de catre utilizator a unor informatii incorecte
        sau incomplete. Daca SC PIXELTIME WEB SOLUTIONS SRL considera o cerere sau o comanda
        ca fiind incompleta sau incorecta, poate cere detalii suplimentare
        utilizatorului folosind adresa de e-mail furnizata de acesta sau poate sterge
        cererea fara nici o instiintare a utilizatorului.</p>
      <h3 class="typo-large-bold"><strong>Conditii de utilizare a site-ului</strong></h3>
      <p class="typo-normal-title">Continutul acestui site nu poate fi copiat, reprodus, distribuit, republicat,
        downloadat, postat sau transmis sub nici o forma si prin nici un mijloc, fara
        consimtamantul anterior in scris al SC PIXELTIME WEB SOLUTIONS SRL. Nu este permisa
        distribuirea sau copierea continutului paginilor continute in prezentul site
        catre orice tert, dar nelimitand la caching-ul continutului acestui site.
        <u>https://pixeltime.ro</u> nu face nicio declaratie, promisiune sau garantie cu
        privire la exactitatea, exhaustivitatea sau caracterul adecvat al prezentului
        continut, al îndrumarilor si a consultantei, nu îsi asuma nicio obligatie de
        rezultat sau diligenta fata de nicio persoana, exclud în mod expres si neaga
        raspunderea pentru orice cost, pierdere sau daunele suferite ca urmare a
        utilizarii continutului.</p>
      <h3 class="typo-large-bold"><strong>Informatiile oferite in intermediul site-ului pixeltime.ro</strong>
      </h3>
      <p class="typo-normal-title">Orice persoana care viziteaza site-ul <u>https://pixeltime.ro</u> si care ofera
        date sau informatii cu caracter personal prin intermediul acestui site îsi
        manifesta acordul în mod expres si neechivoc pentru urmatoarele: prelucrarea
        acestor date si informatii personale de catre SC PIXELTIME WEB SOLUTIONS SRL
        transmiterii de materiale promotionale specifice operatiunilor de marketing
        direct; solutionarea de catre SC PIXELTIME WEB SOLUTIONS SRL a cererilor,
        întrebarilor si reclamatiilor adresate, alte activitati întreprinse de SC PIXELTIME WEB SOLUTIONS SRL si permise
        de lege, ce nu fac obiectul unei aprobari din
        partea destinatarului.
      </p>
      <p class="typo-normal-title">SC PIXELTIME WEB SOLUTIONS SRL va pastra confidentialitatea acestor informatii.
        Utilizarea în continuare a acestui site constituie acordul expres si neechivoc
        al dumneavoastra în conformitate cu prevederile legii 677/2001 si directivelor
        GDPR pentru protectia persoanelor cu privire la prelucrarea datelor cu caracter
        personal si libera circulatie a acestor date.</p>
      <p class="typo-normal-title">Pentru orice nelamurire în legatura cu exercitarea drepturilor dumneavoastra
        referitoare la utilizarea site-ului si la protectia utilizarii va rugam sa ne
        contactati prin intermediul sectiunii Contact din site.</p>
      <h3 class="typo-large-bold"><strong>Materiale transimse prezentului site</strong></h3>
      <p class="typo-normal-title">Orice material sau informatie trimise sau publicate pe acest site, prin orice
        mijloc, vor fi tratate ca neconfidentiale si neproprietare si, ca atare, pot fi
        utilizate de SC PIXELTIME WEB SOLUTIONS SRL in orice scop, nelimitandu-se la
        dezvoltare sau la marketingul produselor.
        Este interzisa publicarea sau transmiterea catre sau de la acest site a
        materialelor ilegale, amenintatoare, calomnioase, defaimatoare, obscene,
        pornografice sau a altor materiale care pot contraveni legilor din tara
        relationata de site.</p>
    </div>
  </div>

</div>
