<div class="adventure">
  <div class="container">
    <div class="row adventure-content d-flex">
      <div class="col d-flex flex-column flex-grow-1">
        <div class="typo-subtitle">
          Incepe aventura digitala cu noi
        </div>
        <div class="typo-normal-title">
          Fie ca ai nevoie de un audit UX a platformei existente, sa creezi rapid prototipul unei noi interfețe sau sa
          proiectezi un produs digital nou pe piață, suntem aici pentru a te ajuta. Programeaza o discutie cu noi, pentru
          a gasi cele mai bune solutii.
        </div>
        <div class="calltoaction typo-text-calltoaction">programeaza o discutie</div>
      </div>
      <div class="col text-center">
        <img src="assets/videocall.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>
