<div class="services">
  <div class="container">
    <div class="row services-content d-flex">
      <div class="col d-flex flex-column flex-grow-1">
        <div class="typo-subtitle">
          Servicii
        </div>
        <div class="typo-normal-title">
          Bucurați-vă de gama noastră completă de servicii digitale, concepute pentru a vă transforma viziunile în
          realitate. Cu o echipă dedicată de profesioniști pasionați, vă oferim expertiză și creativitate pentru fiecare
          etapă a proiectului dvs
        </div>
        <div class="link color-link">See more excellent results</div>
      </div>
      <div class="col text-center">
        <img src="assets/videocall.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <ul class="typo-text-calltoaction">
        <li class="link" routerLinkActive="active" routerLink="/services/design">Design</li>
        <li class="link" routerLinkActive="active" routerLink="/services/branding">Branding</li>
        <li class="link" routerLinkActive="active" routerLink="/services/digital-marketing">Marketing Digital</li>
        <li class="link" routerLinkActive="active" routerLink="/services/technology">Tehnologie și securitate</li>
        <li class="link" routerLinkActive="active" routerLink="/services/support">Suport și Mentenanță</li>
      </ul>
    </div>
  </div>
</div>

<div class="services-list">
  <div class="container">
    <div class="row">
      <div class="col-md-4 services-list-item">
        <div>
          <img src="assets/logo-design.png" alt="">
          <strong class="typo-large-bold">Design de logo</strong>
          <span class="typo-normal-title">
            Un logo este emblema dvs., iar noi vă ajutăm să creați un logo unic și memorabil care să reflecte esența și identitatea brandului dvs.
          </span>
        </div>
      </div>
      <div class="col-md-4 services-list-item">
        <div>
          <img src="assets/brand-identity.png" alt="">
          <strong class="typo-large-bold">Creare de identitate de brand</strong>
          <span class="typo-normal-title">
            Dezvoltăm identități de brand complete, de la culori și fonturi, până la mesajul de bază, pentru a vă ajuta să creați o imagine coerentă pe piață.
          </span>
        </div>
      </div>
      <div class="col-md-4 services-list-item">
        <div>
          <img src="assets/marketing-design.png" alt="">
          <strong class="typo-large-bold">Design de materiale de marketing</strong>
          <span class="typo-normal-title">
            Creem materiale de marketing atractive și eficiente, de la broșuri la afișe, care să susțină strategia dvs. de promovare și să atragă atenția publicului țintă.
          </span>
        </div>
      </div>
      <div class="col-md-6 services-list-item">
        <div>
          <img src="assets/strategy.png" alt="">
          <strong class="typo-large-bold">Strategii de branding</strong>
          <span class="typo-normal-title">
            Dezvoltăm strategii de branding personalizate pentru a vă ajuta să vă diferențiați pe piață și să vă construiți o prezență puternică și valoroasă pentru clienții dvs.
          </span>
        </div>
      </div>
      <div class="col-md-6 services-list-item">
        <div>
          <img src="assets/video-content.png" alt="">
          <strong class="typo-large-bold">Creare de conținut vizual pentru social media</strong>
          <span class="typo-normal-title">
            Producem conținut vizual captivant pentru platformele de socializare, astfel încât să puteți comunica eficient cu audiența dvs. și să vă construiți urmăritori fideli.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
