<div class="services">
  <div class="container">
    <div class="row services-content d-flex">
      <div class="col d-flex flex-column flex-grow-1">
        <div class="typo-subtitle">
          Servicii
        </div>
        <div class="typo-normal-title">
          Bucurați-vă de gama noastră completă de servicii digitale, concepute pentru a vă transforma viziunile în
          realitate. Cu o echipă dedicată de profesioniști pasionați, vă oferim expertiză și creativitate pentru fiecare
          etapă a proiectului dvs
        </div>
        <div class="link color-link">See more excellent results</div>
      </div>
      <div class="col text-center">
        <img src="assets/videocall.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <ul class="typo-text-calltoaction">
        <li class="link" routerLinkActive="active" routerLink="/services/design">Design</li>
        <li class="link" routerLinkActive="active" routerLink="/services/branding">Branding</li>
        <li class="link" routerLinkActive="active" routerLink="/services/digital-marketing">Marketing Digital</li>
        <li class="link" routerLinkActive="active" routerLink="/services/technology">Tehnologie și securitate</li>
        <li class="link" routerLinkActive="active" routerLink="/services/support">Suport și Mentenanță</li>
      </ul>
    </div>
  </div>
</div>

<div class="services-list">
  <div class="container">
    <div class="row">
      <div class="col-md-6 services-list-item">
        <div>
          <img src="assets/testing.png" alt="">
          <strong class="typo-large-bold">Testare și auditare a functionalitatii</strong>
          <span class="typo-normal-title">
            Efectuăm teste și audituri riguroase pentru a identifica potențiale vulnerabilități si neconcordante în functionalitatea software-ului tau, oferindu-vă recomandări pentru a vă îmbunătăți și consolida produsul digital.
          </span>
        </div>
      </div>
      <div class="col-md-6 services-list-item">
        <div>
          <img src="assets/technology.png" alt="">
          <strong class="typo-large-bold">Consultanță în tehnologie</strong>
          <span class="typo-normal-title">
            Vă ghidăm în adoptarea și utilizarea eficientă a tehnologiei potrivite pentru afacerea dvs., astfel încât să vă atingeți obiectivele și să rămâneți la vârful industriei.
          </span>
        </div>
      </div>
      <div class="col-md-12 services-list-item">
        <div>
          <img src="assets/development.png" alt="">
          <strong class="typo-large-bold">Dezvoltare de aplicații personalizate</strong>
          <span class="typo-normal-title">
            Creăm aplicații personalizate care se potrivesc exact nevoilor dvs., automatizând procese, îmbunătățind eficiența și oferindu-vă soluții digitale care vă diferențiază afacerea.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
