<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-6 d-flex flex-column headline">
        <h1 class="typo-big-title">
          Abordare strategică UX
          <br>
          care dă rezultate
        </h1>
        <span>
        Procesul nostru este construit pe o cercetare atentă
        <br>
        care ne permite să luăm <strong>decizii informate</strong>
        <br>
        cu privire la <strong> UI/UX Design</strong> in fiecare pas al proiectului.
      </span>
        <div class="actions d-flex">
          <div class="calltoaction typo-text-calltoaction">afla acum</div>
          <div class="calltoaction white typo-text-calltoaction">contact</div>
        </div>
      </div>
      <div class="col-md-5">
        <img src="assets/homepage.jpg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>
<app-top-clients></app-top-clients>
<app-last-blog></app-last-blog>
<app-adventure></app-adventure>
