.hero {
  background: #EFF0F2;
  padding: 80px 0 0;
  @media (max-width: 768px) {
    padding-top: 40px;
    text-align: center;
  }

  h1 {
    margin-bottom: 40px;
  }

  .headline {
    gap: 40px;
  }

  .actions {
    gap: 16px;
  }

  strong {
    color: var(--primary-1);
  }
}
