<div class="row">
  <div class="col">
    <div class="typo-large-bold">Recent Posts</div>
    <ul>
      <li class="link typo-normal-title">Working From Home? 9 Tips to Help You Succeed</li>
      <li class="link typo-normal-title">Working From Home? 9 Tips to Help You Succeed</li>
      <li class="link typo-normal-title">Working From Home? 9 Tips to Help You Succeed</li>
      <li class="link typo-normal-title">Working From Home? 9 Tips to Help You Succeed</li>
      <li class="link typo-normal-title">Working From Home? 9 Tips to Help You Succeed</li>
      <li class="link typo-normal-title">Working From Home? 9 Tips to Help You Succeed</li>
      <li class="link typo-normal-title">Working From Home? 9 Tips to Help You Succeed</li>
    </ul>
    <div class="ebook">
      <div class="typo-subtitle">100 de sfaturi pentru un site de succes</div>
      <button>
        <span class="typo-text-calltoaction">download ebook </span>
        <strong class="typo-semilarge-normal">GRATUIT</strong>
      </button>
    </div>
  </div>
</div>
