<div class="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-9 article">
        <div class="large-title">{{post.title.rendered}}</div>
<!--        <img src="{{post.fimg_url}}" alt="" class="img-fluid featured">-->
        <img *ngIf="post.fimg_url" src="{{post.fimg_url}}" class="img-fluid featured">
        <img *ngIf="!post.fimg_url" src="https://placehold.co/860x260/EEE/31343C" class="img-fluid featured">
        <div class="tag">
          <div class="tag-item" *ngFor="let t of post.tags">{{t}}</div>
        </div>
        <div [innerHTML]="post.content.rendered"></div>
      </div>
      <div class="col-md-3">
        <app-sidebar-blog></app-sidebar-blog>
      </div>
    </div>
  </div>
</div>
